footer.footer
	.container
		.footer__wrapper
			.footer__text
				h2.footer__text-title METALEX
				.footer__text-info
					| A lot of construction involves using metal and steel parts or structural steel framings. We specialize in detailing, fabricating, welding, delivering and erecting any kind of steel parts or structural steel elements... Be sure, that we make the best steel in Texas!
			.footer__contacts
				a(href="https://goo.gl/maps/UkQVVcsG3m1J9VFf8" target="_blank").footer__contacts-adress 11559 Ventura Boulevard, Studio City, CA 91604
				a(href="tel:+1765557486051").footer__contacts-phone +1765557486051
				a(href="mailto:steelworks@demolink.org").footer__contacts-mail steelworks@demolink.org
			ul.footer__nav-items
				li.footer__nav-item
					a(href="#header").footer__nav-link Home
				li.footer__nav-item
					a(href="#about").footer__nav-link About
				li.footer__nav-item
					a(href="#services").footer__nav-link Services
				li.footer__nav-item
					a(href="#products").footer__nav-link Products
				li.footer__nav-item
					a(href="#gallery").footer__nav-link Gallery
				li.footer__nav-item
					a(href="#partners").footer__nav-link Partners
				li.footer__nav-item
					a(href="#news").footer__nav-link Blog
				li.footer__nav-item
					a(href="#!").footer__nav-link Contact

