section.section-gallery#gallery
	.gallery-container(style="overflow-x: hidden; overflow-y: hidden;")
		a(href="./img/gallery/gallery-1.jpg" data-aos="fade-down-right").gallery__item.gallery__item-1
			img(src="./img/gallery/gallery-1.jpg", alt="")
		a(href="./img/gallery/gallery-2.jpg" data-aos="fade-down-left").gallery__item.gallery__item-2
			img(src="./img/gallery/gallery-2.jpg", alt="")
		a(href="./img/gallery/gallery-3.jpg" data-aos="fade-down-left").gallery__item.gallery__item-3
			img(src="./img/gallery/gallery-3.jpg", alt="")
		a(href="./img/gallery/gallery-4.jpg" data-aos="fade-up-left").gallery__item.gallery__item-4
			img(src="./img/gallery/gallery-4.jpg", alt="")
		a(href="./img/gallery/gallery-5.jpg" data-aos="fade-up-left").gallery__item.gallery__item-5
			img(src="./img/gallery/gallery-5.jpg", alt="")

.parallax
	.parallax__text(data-aos="fade-up" data-aos-duration="500") We’re shaping the future since 1921.