section.section-products#products
	.container
		h2.products__title(data-aos="flip-left") Products
		.products__card-items

			.products__card-item
				.proucts__card-logo(data-aos="zoom-out-right" data-aos-duration="300")
					img(src="./img/products/products-1.png", alt="products logo")
				.products__card-title Carbon steel
				.products__card-text
					| All kinds of light and heavy Steel structural, steel bridge, also we make make the construction.
			.products__card-item
				.proucts__card-logo(data-aos="zoom-out-right" data-aos-duration="400")
					img(src="./img/products/products-2.png", alt="products logo")
				.products__card-title Forming machine
				.products__card-text
					| Our technical team combines advanced technology with cutting-edge thinking to bring our customers’ ideas
				
			.products__card-item
				.proucts__card-logo(data-aos="zoom-out-right" data-aos-duration="500")
					img(src="./img/products/products-3.png", alt="products logo")
				.products__card-title Aluminum’s products
				.products__card-text
					| Hot dip galvanized steel coil, strip, sheet, carbon steel, copper strip, sheet, foil, aluminium strip.
				
			.products__card-item
				.proucts__card-logo(data-aos="zoom-out-left" data-aos-duration="600")
					img(src="./img/products/products-4.png", alt="products logo")
				.products__card-title Professional team
				.products__card-text
					| Be sure, that we make the best steel in Texas! All kinds of light and heavy Steel structural, steel bridge.

			.products__card-item
				.proucts__card-logo(data-aos="zoom-out-left" data-aos-duration="700")
					img(src="./img/products/products-5.png", alt="products logo")
				.products__card-title Pipe making
				.products__card-text
					| The machinery and equipment including: Pipe making and forming machine, Plate bending machine.

			.products__card-item
				.proucts__card-logo(data-aos="zoom-out-left" data-aos-duration="800")
					img(src="./img/products/products-6.png", alt="products logo")
				.products__card-title More is Less
				.products__card-text
					| Aluminum’s total barrier to light, gases and moisture is the principal reason for its use in packaging solutions for food, drink, medicines and technical applications.
