section.section-welcome
	.container
		.welcome__wrapper

			.welcome__item(data-aos="fade-up" data-aos-duration="500")
				.welcome__item-logo
					img(src="./img/welcome/welcome-1.jpg", alt="wel-1")
				h4.welcome__item-title WELCOME
				.welcome__item-text
					| Our technical team combines advanced technology with cutting-edge thinking to bring our customers’ ideas!
			.welcome__item(data-aos="fade-up" data-aos-duration="700")
				.welcome__item-logo
					img(src="./img/welcome/welcome-2.jpg", alt="wel-2")
				h4.welcome__item-title SERVICES
				.welcome__item-text
					| The machinery and equipment including: Pipe making and forming machine, Plate bending machine.
			.welcome__item(data-aos="fade-up" data-aos-duration="900")
				.welcome__item-logo
					img(src="./img/welcome/welcome-3.jpg", alt="wel-3")
				h4.welcome__item-title WHAT’S NEW
				.welcome__item-text
					| Hot dip galvanized steel coil, strip, sheet, carbon steel, copper strip, sheet, foil, aluminium strip.
			.welcome__item(data-aos="fade-up" data-aos-duration="1100")
				.welcome__item-logo
					img(src="./img/welcome/welcome-4.jpg", alt="wel-4")
				h4.welcome__item-title OUR PRODUCTS
				.welcome__item-text
					| All kinds of light and heavy Steel structural, steel bridge, also we make make the construction.
