section.section-about#about
	.container
		.about-wrapper
			.about__content
				h2.about__title(data-aos="flip-left") About
				h3.about__subtitle(data-aos="fade-up") Metalex Corporation has been established as one of the leading manufacturing companies, headquartered in USA.
				.about__text(data-aos="fade-up")
					| Metalex Corporation provides high quality products and reliable services, embodying our company's commitment to strive for excellence. It is our goal to be a reliable supplier and exporter of products, which reach the highest level of technical complexity and quality for both global and domestic markets.  
				a(href="#!" data-aos="fade-up").button-read-more--orange read more
			.about__trailer(data-aos="fade-up")
				img(src="./img/factory.jpg" alt="Factory")
				a(href="#about-video" rel="modal:open").play-button
					img(src="./img/play.png" alt="play")


.about-video#about-video
	iframe(src='https://www.youtube.com/embed/FLFRN6JWRco' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
