section.section-partners#partners
	.container
		.partners__wrapper
			h2.partners__title PARTNERS
			.partners__carousel
				a(href="https://www.theclimbgame.com/" target="_blank").partners__carousel-item
					img(src="./img/clients/client-1.svg", alt="Our client")
				a(href="https://www.geekheaven.com.au/" target="_blank").partners__carousel-item
					img(src="./img/clients/client-2.svg", alt="Our client")
				a(href="https://www.bullseyelocations.com/" target="_blank").partners__carousel-item
					img(src="./img/clients/client-3.svg", alt="Our client")
				a(href="https://indoo.rs/" target="_blank").partners__carousel-item
					img(src="./img/clients/client-4.svg", alt="Our client")
				a(href="http://ronjonesproductions.com/" target="_blank").partners__carousel-item
					img(src="./img/clients/client-5.svg", alt="Our client")