section.section-services#services
	.section-services__wrapper
		h2.services__title(data-aos="flip-left") Main services

		.services__card-items

			.services__card-item(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300")
				a(href="#!").services__card-img
					img(src="./img/services/services-1.jpg", alt="Services")
					h3.services__card-title Construction & Project
				.services__card-text
					| We provide one-stop trade services, including: procurement, inspection, packaging and delivery so as to meet the needs of our customers.

			.services__card-item(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500")
				a(href="#!").services__card-img
					img(src="./img/services/services-2.jpg", alt="Services")
					h3.services__card-title Installation & Maintenance
				.services__card-text
					| Our technical team combines advanced technology with cutting-edge thinking to bring our customers’ ideas to life. 

			.services__card-item(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700")
				a(href="#!").services__card-img
					img(src="./img/services/services-3.jpg", alt="Services")
					h3.services__card-title Manufacturer & Fabrication
				.services__card-text
					| Ur company is comprised of experienced and professional staff, whose primary principle is to meet our customers’ needs. 
