section.section-news#news
	.container
		.news__wrapper
			.news__info
				h2.news__title News
				.news__subtitle
					| Six one-thousandths of a millimeter thick aluminum foil effectively protects contents against quality-reducing effects of oxygen.
				.news__text
					| Light, moisture, micro-organisms or unwanted aromas. "More is Less" Aluminum’s total barrier to light, gases and moisture is the principal reason for its use in packaging solutions for food, drink, medicines and technical applications. Even when very thin, aluminum provides perfect protection and preservation of aroma and product characteristics.
				a(href="#!").button-read-more--orange read more

			.news__cards
		
				.news__card-item
					a(href="#!").news__card-img
						img(src="./img/posts/post-1.jpg", alt="post image")
					a(href="#!").news__card-title Specializing in high quality carbon steel pipes for years.
					.news__card-text
						| All kinds of light and heavy Steel structural, steel bridge, also we make make the construction of...

				.news__card-item
					a(href="#!").news__card-img
						img(src="./img/posts/post-2.jpg", alt="post image")
					a(href="#!").news__card-title Aluminium products.
					.news__card-text
						| Hot dip galvanized steel coil, strip, sheet, carbon steel, copper strip, sheet, foil, Aluminium strip, tape, s...

				.news__card-item
					a(href="#!").news__card-img
						img(src="./img/posts/post-3.jpg", alt="post image")
					a(href="#!").news__card-title Automatic Wire Hanger Forming Machine.
					.news__card-text
						| Our technical team combines advanced technology with cutting-edge thinking to bring our customers’ ideas to...

				.news__card-item
					a(href="#!").news__card-img
						img(src="./img/posts/post-4.jpg", alt="post image")
					a(href="#!").news__card-title Automatic Wire Hanger Forming Machine.
					.news__card-text
						| The machinery and equipment including: Pipe making and forming machine, Plate bending machine, Roof Panel Form...