.header
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center
	height: 100vh
	transition: 1s
	background-image: url("../img/parallax-bg/steelwork-2.jpg")
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	background-color: #333333
.header__logo
	max-width: 250px
	margin-bottom: 45px
	@media (min-width: 1200px)
		max-width: auto

.header__title
	margin-bottom: 50px
	letter-spacing: 0.72px
	color: #ffffff
	font-size: 36px
	font-weight: 100
	line-height: 35.42px
	text-align: center
	// @media (min-width: 1200px)
