.section-news
	padding: 80px 0
	@media (min-width: 1200px)
		padding: 150px 0

.news__wrapper
	display: flex
	flex-direction: column
	@media (min-width: 1200px)
		flex-direction: row
		justify-content: space-between

.news__info
	display: flex
	flex-direction: column
	margin-bottom: 50px
	@media (min-width: 1200px)
		max-width: 520px
		margin-bottom: 0

.news__title
	position: relative
	margin-bottom: 70px
	text-transform: uppercase
	color: #010101
	font-size: 30px
	font-weight: 400
	&:before
		position: absolute
		bottom: -24px
		left: 0
		width: 82px
		height: 3px
		content: ""
		background-color: #eb6f31

.news__subtitle
	margin-bottom: 45px
	color: #000000
	font-size: 24px
	font-weight: 400
	line-height: 35.42px

.news__text
	margin-bottom: 45px
	color: #000000
	font-family: 'Open Sans', sans-serif
	font-size: 14px
	font-weight: 300
	line-height: 30px

.news__cards
	display: flex
	flex-direction: row
	flex-wrap: wrap
	@media (min-width: 1200px)
		justify-content: flex-end
		max-width: 755px

.news__card-item
	margin-bottom: 30px
	&:last-child
		margin-bottom: 0
	@media (min-width: 1200px)
		max-width: 300px
		margin-bottom: 0
		&:nth-child(-n+2)
			margin-bottom: 30px
		&:nth-child(1)
			margin-right: 30px
		&:nth-child(3)
			margin-right: 30px	

.news__card-img
	display: block
	margin-bottom: 15px
	transition: .5s ease
	&:hover
		transition: .5s ease
		box-shadow: -55px 4px 61px -16px rgba(0,0,0,0.56)

.news__card-title
	display: inline-block
	margin-bottom: 20px
	transition: .2s 
	color: #ee6b38
	font-size: 16px
	&:hover
		transition: .2s 
		color: #000000

.news__card-text
	color: #535353
	font-size: 14px
	line-height: 30px
