extends ./../layouts/main.pug

block variables
	- const title = "MetalWorks - Your Expert Metal & Steel Supplier";

block content
	include ../sections/nav.pug
	include ../sections/header.pug
	include ../sections/section-welcome.pug
	include ../sections/section-about.pug
	include ../sections/section-services.pug
	include ../sections/section-products.pug
	include ../sections/section-gallery.pug
	include ../sections/section-partners.pug
	include ../sections/section-news.pug
	include ../sections/footer.pug